.float-right {
    float: right;
}

.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}

.douban {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background: #00B51D;
    border-radius: 5px;
    padding: 3px 5px;
}

